@import "tailwindcss";

@config "../../tailwind.config.ts";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@layer utilities {
	.form-content-enter {
		opacity: 0;
		transform: scaleY(0);
	}

	.form-content-enter-active {
		opacity: 1;
		transform: scaleY(1);
		transition:
			opacity 500ms,
			transform 500ms;
	}

	.form-content-exit {
		opacity: 1;
		transform: scaleY(1);
	}

	.form-content-exit-active {
		opacity: 0;
		transform: scaleY(0);
		transition:
			opacity 500ms,
			transform 500ms;
	}

	@keyframes slow-pulse {
		0%,
		100% {
			opacity: 1;
		}
		50% {
			opacity: 0.9;
		}
	}

	.slow-pulse {
		animation: slow-pulse 5s ease-in-out infinite;
	}
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 142.1 76.2% 36.3%;
		--primary-light: 142 76.2% 56.3%; /* Lighter by increasing lightness */
		--primary-dark: 142 76.2% 26.3%; /* Darker by decreasing lightness */
		--complementary-light: 322 70% 60%;
		--complementary-light-foreground: 322 70% 60%;
		--complementary: 322 70% 40%;
		--complementary-foreground: 322 70% 40%;
		--complementary-dark: 322 70% 30%;
		--complementary-dark-foreground: 322 70% 30%;
		--primary-foreground: 355.7 100% 97.3%;
		--secondary: 240 4.8% 95.9%;
		--secondary-light: 240 4.8% 95.9%;
		--secondary-dark: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 142.1 76.2% 36.3%;
		--radius: 1rem;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
	}
	.dark {
		--background: 20 14.3% 4.1%;
		--foreground: 0 0% 95%;
		--card: 24 9.8% 10%;
		--card-foreground: 0 0% 95%;
		--popover: 0 0% 9%;
		--popover-foreground: 0 0% 95%;
		--primary: 142.1 70.6% 45.3%;
		--primary-light: 142 70.6% 65.3%;
		--primary-dark: 142 70.6% 35.3%;
		--primary-foreground: 144.9 80.4% 10%;
		--complementary-light: 322 70% 70%;
		--complementary: 322 70% 50%;
		--complementary-dark: 322 70% 40%;
		--secondary: 240 3.7% 15.9%;
		--secondary-light: 240 3.7% 25.9%;
		--secondary-dark: 240 3.7% 10.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 15%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 142.4 71.8% 29.2%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}
@layer base {
	body {
		@apply bg-background text-foreground;
	}
}
